.coming-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px 16px;
    border-radius: 4px;
    z-index: 1;
    font-size: 55;
}

.product-image {
    max-width: 100%;
    transition: transform 0.3s;
    cursor: pointer;
}

.product-image:hover {
    transform: scale(1.05);
}

.product-image:hover+.coming-soon {
    display: block;
}